body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;
}

.search-container {
    margin: 0 auto;
}

.search-input-group, .top-5-books > div {
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.home-footer {
    background-color: #3780ca;
}

.large-text {
    font-size: 1.5em;
    font-weight: bold;
}