{{define "landing_page"}}
<section class="mt-5 mb-5">
    <div class="container search-container">
        <h2 class="text-center mb-4">Bienvenido a {{.AppName}}©</h2>
        <p class="text-center mb-5">Tu solución integral para la administración de vecindarios, fraccionamientos y conjuntos residenciales.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center mb-4" data-toggle="modal" data-target="#comiteModal">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Comités</h5>
                        <p class="card-text">Administra los comités de tu fraccionamiento y sus miembros de manera eficiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Control de Habitantes</h5>
                        <p class="card-text">Mantén un registro actualizado de todos los habitantes de cada casa o departamento.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Organización de Juntas</h5>
                        <p class="card-text">Programa y gestiona las juntas del fraccionamiento para mantener a todos informados.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Publicación de Anuncios</h5>
                        <p class="card-text">Informa a todos los vecinos sobre eventos importantes y mantenimientos programados.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Cuotas</h5>
                        <p class="card-text">Administra los pagos recurrentes de mantenimiento de cada casa o departamento.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Anuncios de Bazares</h5>
                        <p class="card-text">Permite a los vecinos anunciar y vender artículos a los demás miembros de la comunidad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Anuncios de Casas</h5>
                        <p class="card-text">Permite a las casas anunciar eventos como reuniones o visitas que afecten a los vecinos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="comiteModal" tabindex="-1" role="dialog" aria-labelledby="comiteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comiteModalLabel">Gestión de Comités</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Administra los comités de tu fraccionamiento y sus miembros de manera eficiente. Con nuestra herramienta, puedes agregar, editar y eliminar comités, así como asignar y remover miembros fácilmente.
            </div>
        </div>
    </div>
</div>
{{end}}