{{define "login"}}
<section class="mt-5 mb-5">
    <div class="container search-container">    
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Iniciar Sesión</h2>
                <form>
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" placeholder="Ingresa tu usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
                    </div>
                    <div class="form-group">
                        <label for="fraccID">ID del Fraccionamiento
                            <button type="button" class="btn btn-link p-0 ml-1 btn-question-circle" data-toggle="modal" data-target="#fraccIDModal">
                                ?
                            </button>
                        </label>
                        <input type="number" class="form-control" id="fraccID" placeholder="Ejemplo: 52" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </form>
                <div class="ml-auto text-left">
                    <a href="/recuperar">¿Olvidaste tu usuario o contraseña?</a>
                </div>
                <div class="mt-4 text-center">
                    <a href="/registrar-fraccionamiento" class="large-text">Registra tu fraccionamiento</a>
                </div>
                <div class="mt-4 text-center">
                    <a href="/ver-fraccionamientos" class="large-text">Ver mis Fraccionamientos registrados</a>
                </div>
                <div class="mt-4 text-center">
                    <a href="/que-es-vecin">¿Qué es Vecin?</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fraccIDModal" tabindex="-1" role="dialog" aria-labelledby="fraccIDModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fraccIDModalLabel">¿Qué es el ID del Fraccionamiento?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    El ID del Fraccionamiento es un número único que identifica a tu comunidad o fraccionamiento. Puedes obtener este ID contactando al administrador de tu fraccionamiento.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
