{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.AppName}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/assets/css/app.css" />
</head>

<body>
    {{template "nav" .}}

    <section class="mt-5 mb-5">
        <div class="container search-container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center">Registro de Comunidad</h2>
                    <button type="button" class="btn btn-info">Si ya has registrado un Fraccionamiento da click Aquí</button>
                    <hr>
                    <form id="registroComunidadForm" action="/registrar-fracc" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nombreComunidad">Nombre de la Comunidad</label>
                            <input type="text" class="form-control" id="nombreComunidad" name="nombreComunidad" placeholder="Ejemplo: Fraccionamiento Calzada del Bosque" required>
                        </div>
    
                        <div class="form-group">
                            <label for="tipoComunidad">Tipo de Comunidad</label>
                            <select class="form-control" id="tipoComunidad" name="tipoComunidad" required>
                                <option value="Fraccionamiento">Fraccionamiento</option>
                                <option value="Edificio">Departamentos</option>
                                <option value="Calle">Calle</option>
                                <option value="Casa">Conjunto de casas por separado</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="modeloSuscripcion">Modelo de Suscripción</label>
                            <select class="form-control" id="modeloSuscripcion" name="modeloSuscripcion" required>
                                <option value="Mensual">Mensual</option>
<!--                                <option value="Bimestral">Bimestral</option>-->
                                <option value="Anual">Anual</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="direccionCalle">Calle</label>
                            <input type="text" class="form-control" id="direccionCalle" name="direccionCalle" placeholder="Ingresa la calle" required>
                        </div>
    
                        <div class="form-group">
                            <label for="direccionNumero">Número</label>
                            <input type="text" class="form-control" id="direccionNumero" name="direccionNumero" placeholder="Ingresa el número" required>
                        </div>
    
                        <div class="form-group">
                            <label for="direccionColonia">Colonia</label>
                            <input type="text" class="form-control" id="direccionColonia" name="direccionColonia" placeholder="Ingresa la colonia" required>
                        </div>
    
                        <div class="form-group">
                            <label for="direccionCodigoPostal">C.P.</label>
                            <input type="text" class="form-control" id="direccionCodigoPostal" name="direccionCodigoPostal" placeholder="Ingresa el código postal" required>
                        </div>

                        <div class="form-group">
                            <label for="direccionEstado">Estado</label>
                            <select class="form-control" id="direccionEstado" name="direccionEstado" required>
                                <option value="">Selecciona un estado</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="direccionCiudad">Ciudad</label>
                            <select class="form-control" id="direccionCiudad" name="direccionCiudad" required>
                                <option value="">Selecciona una ciudad</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="direccionPais">País</label>
                            <select class="form-control" id="direccionPais" name="direccionPais" required>
                                <option value="3996063">México</option>
                                <option value="3686110">Colombia</option>
                                <option value="3932488">Perú</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="referencias">Referencias (Opcional)</label>
                            <textarea class="form-control" id="referencias" name="referencias" rows="3" placeholder="Ejemplo: Sobre la Avenida Tomás Valles y Cantera"></textarea>
                        </div>
    
                        <div class="form-group">
                            <label for="descripcion">Descripción (Opcional)</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Ingresa la descripción"></textarea>
                        </div>
    
                        <h3 class="text-center">Información del Registrante</h3>

                        <div class="form-group">
                            <label for="registranteNombre">Nombre de usuario</label>
                            <input type="text" class="form-control" id="registranteUsername" name="registranteUsername" placeholder="Ejemplo: mariana23" required>
                        </div>
    
                        <div class="form-group">
                            <label for="registranteNombre">Nombre (s)</label>
                            <input type="text" class="form-control" id="registranteNombre" name="registranteNombre" placeholder="Ingresa tu nombre" required>
                        </div>
    
                        <div class="form-group">
                            <label for="registranteApellido">Apellidos</label>
                            <input type="text" class="form-control" id="registranteApellido" name="registranteApellido" placeholder="Ingresa tus apellidos" required>
                        </div>
    
                        <div class="form-group">
                            <label for="registranteTelefono">Teléfono</label>
                            <input type="text" class="form-control" id="registranteTelefono" name="registranteTelefono" placeholder="Ingresa tu teléfono" required>
                        </div>
    
                        <div class="form-group">
                            <label for="registranteEmail">Correo Electrónico</label>
                            <input type="email" class="form-control" id="registranteEmail" name="registranteEmail" placeholder="Ingresa tu correo electrónico" required>
                        </div>
    
                        <div class="form-group">
                            <label for="habitante">¿Será habitante del <span id="tipoComunidadSpan"></span>?</label>
                            <select class="form-control" id="habitante" name="habitante" required>
                                <option value="no">No</option>
                                <option value="yes">Sí</option>
                            </select>
                        </div>
    
                        <div id="registranteSignUp" style="display: none;">
                            <div class="form-group">
                                <label for="registranteSignUpUserName">Nombre de Usuario</label>
                                <input type="text" class="form-control" id="registranteSignUpUserName" name="registranteSignUpUserName" placeholder="Ingresa tu nombre de usuario">
                            </div>
    
                            <div class="form-group">
                                <label for="registranteSignUpPassword">Contraseña</label>
                                <input type="password" class="form-control" id="registranteSignUpPassword" name="registranteSignUpPassword" placeholder="Ingresa tu contraseña">
                            </div>
                        </div>

                        <div class="info-modal"></div>
                        <button type="submit" class="btn btn-success btn-block">Registrar Comunidad</button>
                    </form>
                </div>

                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel">Registro de Comunidad</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Fraccionamiento registrado correctamente
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="okButton" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {{template "footer" .}}
    {{template "scripts" .}}

    <script src="/assets/js/registro_fracc.js"></script>
</body>

</html>
{{end}}